<li>
  <% if current_user.admin? %>
    <%= group.name %> | Учебная программа - <%= group.study_programm %>
    || <%= link_to "изменить", edit_group_path(group) %>
    | <%= link_to "удалить", group, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  <% else %>
    <%= group.name %>
  <% end %>
</li>